@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* GLOBAL VALUES */

:root {
  --accentTheme: #fad390;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Montserrat", sans-serif;
  vertical-align: baseline;
  color: black;
}

/* NAVBAR */

.nav {
  background: var(--accentTheme);
  padding: 30px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

/* CARDS */

.card {
  border: 1px solid var(--accentTheme);
}

.card-header {
  background: var(--accentTheme);
}

/* BUTTONS */

.btn {
  color: black;
}

.btn-link:hover,
.btn-link:visited {
  color: black;
  text-decoration: none;
}

/* MISCELLANEOUS COMPONENTS */

hr {
  background: var(--accentTheme);
}

.orderList {
  padding: 20px;
}

.option {
  margin: 0 5px;
  background: var(--accentTheme);
  border: 0;
}

.option:hover {
  background: #f6b93b;
}

.amountPaid {
  color: #f6b93b;
  float: right;
  font-weight: bold;
  border: 1px solid var(--accentTheme);
  padding: 10px;
}

.itemList {
  padding: 0 20px;
}

.address {
  display: flex;
}

.badge {
  margin-right: 10px;
  background: black;
  color: white;
  padding: 4.5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
